
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.grocery{
    width: 15em;
    padding: 0.8em 1.3em;
    display: inline-block;
    border: 0.1em solid #ccc;
    margin: 0.5em 0em;
    font-size: 0.8em;
    margin-right: 0.2em;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}